@charset "UTF-8";
@import url(../../../../css/fonts.css);
@import url(../../../../css/reset.css);
@import url(../../../../css/header.css);
@import url(../../../../css/footer.css);
@import url(../../../../css/go_top.css);

#signUpMain {
  background-color: #18212b;
  width: 100%;
  padding: 100px 0 0 0;
  #signUp {
    width: 100%;
    padding: 40px 0 60px 0;
    .container {
      width: 100%;
      max-width: 640px;
      margin: 0 auto;
      .title {
        width: 100%;
        border-bottom: 2px solid #ff0000b3;
        .main-title {
          text-align: center;
          padding: 0 0 40px 0;
            h2 {
              font-size: 50px;
              font-weight: bold;
              color: #fff;
              text-transform: uppercase;
              font-family: 'Homoarakhn', sans-serif;
              letter-spacing: 5px;
            }
          }
        .sub-title {
          text-align: right;
          padding: 0 0 10px 0;
          span {
            font-size: 12px;
            color: #ccc;
            i {color: #ee6a7b;}
          }
        }
      }
      .content {
        width: 100%;
        form {
          width: 100%;
          > ul {
            width: 100%;
            > li {
              width: 100%;
              padding: 10px 20px;
              display: flex;
              &.add-input-box-list {  // 추가입력 사항 텍스트 박스의 부모 리스트 박스
                  display: none;
                  &.on {
                      display: flex;
                  }
              }
              &.hor-line {
                  padding: 20px 0;
                  hr {
                      width: 100%;
                      height: 2px;
                      border: 0;
                      background: #ff0000b3;
                  }
              }
              .left {
                  width: 139px;
                  .left-wrap {
                      width: 100%;
                      height: 46px;
                      display: flex;
                      align-items: center;
                      justify-content: flex-start;
                      label {
                          font-size: 14px;
                          strong {
                              font-weight: 500;
                              color: #ccc;
                          }
                          i {color: #ee6a7b;}
                      }
                  }
              }
              .right {
                width: 461px;
                .right-wrap {
                  position: relative;
                  width: 100%;
                  padding: 0 130px 0 0;
                  label {
                      color: #fff;
                  }
                  // 성별
                  &.gender,           
                  // 추가입력 사항
                  &.add-input-box1 {  
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 46px;
                  }
                  // 추가입력 사항 - 가이드 텍스트
                  &.add-input-box2 {  
                    display: none;
                    p {
                      padding-top: 15px;
                      font-size: 12px;
                      line-height: 150%;
                      letter-spacing: -0.3px;
                      color: #666;
                    }
                  }
                  // 생년월일
                  &.birth { //생년월일
                    .birth-box {
                      width:100%;
                      height:46px;
                      border:1px solid #ccc;
                      border-radius: 3px;
                      ul {
                        width:100%;
                        display: flex;
                        li {                                                    
                          &:nth-child(odd){
                            width:30%;
                          }
                          &:nth-child(even){
                            width:5%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            i {
                              color:#aaa;     
                            }
                          }
                          input {
                            width: 100%;
                            height: 44px;
                            border:0;
                            outline:0;
                            text-align: center;
                            background: #18212b;
                            color: #fff;
                          }
                        }
                      }
                    }
                  }
                  // 입력상자 공통 요소
                  input[type="text"],
                    [type='password'] {    
                    width: 100%;
                    height: 46px;
                    border: 1px solid #ddd;
                    background-color: #fff;
                    border-radius: 3px;
                    padding: 0 15px;
                    outline-offset: -1px;
                    outline: 1px solid transparent;
                    transition: all 0.3s;
                    &:focus {
                      outline: 1px solid #444;
                    }
                    &::placeholder {
                      color: #aaa;
                    }
                    &.addr-hide {
                      display: none;
                    }
                  }     
                  // 성별, 추가입력 사항
                  input[type="radio"] {
                    width: 24px;
                    height: 24px;
                    margin-right: 12px;
                    border: 1px solid #ccc;
                    border-radius: 50%;
                    // radio, checkbox의 UI/UX디자인을 하려면 본래의 모습(appearance)을 사용하지 않겠다고 속성 지정을 해야함
                    appearance: none;
                    &:checked {     // 선택(checked)된것만 스타일을 변경
                      border: 7px solid #f00;
                      border-radius: 50%;
                    }
                  }
                  // 버튼 공통 요소
                  button {
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 120px;
                    height: 46px;
                    border: 1px solid #333;
                    background: #ff0000b3;
                    font-size: 14px;
                    font-weight: 500;
                    color: #fff;
                    border-radius: 3px;
                    cursor: pointer;
                    &.addr-hide {
                      display: none;
                      &.on {
                        display: block;
                      }
                    }
                    &.addr-api-btn {
                      position: relative;
                      width: 100%;
                      img {
                        margin: -3px 5px 0 0;
                        width: 20px;
                        height: 20px;
                      }
                      &.on {
                        display: none;
                      }
                    }
                  }
                  // 공통 에러 메시지
                  p {
                    display: none;
                    padding: 7px 0 0 0;
                    font-size: 13px;
                    color: #f03f40;
                    &.on {
                      display: block;
                    }
                  }
                  // 주소
                  em.addr-map-area {
                    color: #5f0080;
                    font-size: 12px;
                  }
                  p.addr-info {
                    padding: 10px 0 0 0;
                    color: #666;
                    font-size: 12px;
                    &.addr-info1 {
                      &.on {
                        display: none;
                      }
                    }
                  }
                  // 이용약관동의
                  &.service {         
                    padding: 0;
                    ul {
                      li {
                        width: 100%;
                        margin: 15px 0;
                        &:nth-child(2),
                        &:nth-child(3),
                        &:nth-child(4) {
                          position: relative;
                        }
                        label {
                          &.chk6 {
                            margin-left: 12px;
                          }
                          input[type="checkbox"] {
                            appearance: none;
                            margin: 0 12px 0 0;
                            width: 24px;
                            height: 24px;
                            background: url(../img/sign_up/chkbox_gray.svg) no-repeat 50% 50%;
                            background-size: 24px 24px;
                            border-radius: 50%;
                            &:checked {
                              background: url(../img/sign_up/chkbox_purple.png) no-repeat 50% 50%;
                              background-size: 24px 24px;
                            }
                          }
                        }
                        &:nth-child(1) {
                          label {
                            font-size: 18px;
                            font-weight: 500;
                          }
                        }
                        p { // 에러메시지
                          padding: 0 0 0 36px;
                          font-size: 12px;
                          color: #666;
                        }
                        button {
                          position: absolute;
                          top: 3px;
                          right: 0;
                          width: auto;
                          height: auto;
                          border: 0;
                          background-color: transparent;
                          cursor: pointer;
                          span {
                            font-size: 14px;
                            color: #f00;
                          }
                          img {
                            margin: -3px 0 0 3px;
                            width: 15px;
                            // background-color: #333;
                          }
                        }
                      }
                    }
                  }
                }
              }
              &.addr-hide {
                display: none;
                &.on {
                  display: flex;
                }
              }
            }
          }
          .button-box {
            text-align: center;
            padding: 40px 0;
            border-top: 2px solid #ff0000b3;
            button {
              width: 240px;
              height: 56px;
              background: #ff0000b3;
              color: #fff;
              border: 1px solid #ff0000b3;
              border-radius: 3px;
              font-size: 16px;
              font-weight: 600;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

#confirmModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  z-index: 5;
  .wrap {
    width: 100%;
    height: 100%;
    display: flex;
  .container{
    position: relative;
    width: 360px;
    margin: auto;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    .img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background: url(../img/sign_up/spider.PNG) no-repeat 50% 50%;
      background-size: cover;
      opacity: 0.3;
    }
    .content {
      padding: 40px 30px;
      position: relative;
      z-index: 2;
      h2 {
        font-size: 16px;
        font-weight: 700;
        color: #333;
        line-height: 150%;
        letter-spacing: -0.5px;
        text-align: center;
      }
    }
    .button-box {
      border-top: 1px solid #eee;
      width: 100%;
      height: 55px;
      button {
        position: relative;
        z-index: 2;
        width: 100%;
        height: 54px;
        background: none;   
        color: #333;
        font-weight: 600;
        font-size: 16px;
        border: 0;
        cursor: pointer;
      }
    }
  }
  }
}