#confirmModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 5;
}
#confirmModal .wrap {
  width: 100%;
  height: 100%;
  display: flex;
}
#confirmModal .wrap .container {
  position: relative;
  width: 360px;
  margin: auto;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}
#confirmModal .wrap .container .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: url(../img/spider.PNG) no-repeat 50% 50%;
  background-size: cover;
  opacity: 0.3;
}
#confirmModal .wrap .container .content {
  padding: 40px 30px;
  position: relative;
  z-index: 2;
}
#confirmModal .wrap .container .content h2 {
  font-size: 16px;
  font-weight: 700;
  color: #333;
  line-height: 150%;
  letter-spacing: -0.5px;
  text-align: center;
}
#confirmModal .wrap .container .button-box {
  border-top: 1px solid #eee;
  width: 100%;
  height: 55px;
}
#confirmModal .wrap .container .button-box button {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 54px;
  background: none;
  color: #333;
  font-weight: 600;
  font-size: 16px;
  border: 0;
  cursor: pointer;
}