#footer {
  width: 100%;
  z-index: 1;
  position: relative;
  border-top: 1px solid #eee;
  background-color: #333;
  padding-top: 100px;
}
#footer .row1 {
  width: 100%;
}
#footer .row1 .container {
  width: 1050px;
  margin: 0 auto;
}
#footer .row1 .container .movie-info {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  padding: 20px 0;
}
#footer .row1 .container .movie-info a {
  display: flex;
  font-family: "Homoarakhn", sans-serif;
}
#footer .row1 .container .movie-info a:hover > span {
  color: #f00;
}
#footer .row1 .container .movie-info a img {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  -o-object-fit: fill;
     object-fit: fill;
}
#footer .row1 .container .movie-info a span {
  padding: 20px 0 0 10px;
  font-size: 11px;
  color: #fff;
}
#footer .row2 {
  width: 100%;
  padding: 20px 0 30px 0;
}
#footer .row2 .container {
  width: 1050px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#footer .row2 .container .sns-icon ul {
  display: flex;
}
#footer .row2 .container .sns-icon ul li {
  width: 100%;
}
#footer .row2 .container .sns-icon ul li a {
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
#footer .row2 .container .sns-icon ul li a img {
  width: 100%;
}
#footer .row2 .container .infomation a {
  font-size: 15px;
}
#footer .row2 .container .infomation a span {
  color: #fff;
}