#main {
  width: 100%;
  background: #18212b;
}
#main #section1 {
  width: 100%;
  display: flex;
}
#main #section1 .swiper-container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
#main #section1 .swiper-container .swiper {
  width: 1200px;
}
#main #section1 .swiper-container .swiper .swiper-wrapper {
  padding-top: 64px;
}
#main #section1 .swiper-container .swiper .swiper-wrapper .swiper-slide {
  width: 400px;
  position: relative;
}
#main #section1 .swiper-container .swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 700px;
}
#main #section1 .swiper-container .swiper .swiper-wrapper .swiper-slide .slide-content {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75));
}
#main #section1 .swiper-container .swiper .swiper-wrapper .swiper-slide .slide-content .movie-info h2 {
  font-size: 27px;
  font-weight: bold;
  font-family: "Homoarakhn", "sans-serif";
  line-height: 110%;
}
#main #section1 .swiper-container .swiper .swiper-wrapper .swiper-slide .slide-content .movie-info p {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 500;
  opacity: 0.65;
  line-height: 150%;
}
#main #section1 .swiper-container .swiper .swiper-wrapper .swiper-slide .movie-btn {
  border: none;
  background: 0;
  cursor: pointer;
  padding: 10px 0;
}
#main #section1 .swiper-container .swiper .swiper-wrapper .swiper-slide .movie-btn span {
  color: #fff;
  font-size: 20px;
}
#main #section1 .swiper-container > button {
  border: 0;
  background: none;
}
#main #section1 .swiper-container > button img {
  width: 50px;
  height: 50px;
}
#main #section1 .swiper-container > button.swiper-prev-btn {
  position: absolute;
  top: 50%;
  left: 0;
}
#main #section1 .swiper-container > button.swiper-next-btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: rotate(180deg);
}
#main #section1 .swiper-container .swiper-pagination {
  background-color: transparent;
}
#main #section1 .swiper-container .swiper-pagination span {
  background-color: #999;
}