#main {
  width: 100%;
  z-index: 2;
  position: relative;
  background: #333;
  padding-bottom: 80px;
}
#main #section0 {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.4);
}
#main #section0 .container {
  display: flex;
  width: 100%;
  height: 100%;
}
#main #section0 .container .img-box {
  width: 100%;
  height: 100%;
}
#main #section0 .container .img-box.img-box1 {
  background: url(./img/465ba2b955bd02ddb6986099399d5dc3.jpg) no-repeat 50% 50%;
  background-size: cover;
}
#main #section0 .container .img-box.img-box2 {
  background: url(../img/37f93f9e16f82bb31c31ab5ea4b312fb.jpg) no-repeat 50% 50%;
  background-size: cover;
}
#main #section0 .container .img-box.img-box3 {
  background: url(../img/1444ef36a54dd43a4269b6de3efd4365.jpg) no-repeat 50% 50%;
  background-size: cover;
}
#main #section0 .container .img-box.img-box4 {
  background: url(../img/slide1.jpg) no-repeat 50% 50%;
  background-size: cover;
}
#main #section0 .container .img-box.img-box5 {
  background: url(../img/465ba2b955bd02ddb6986099399d5dc3.jpg) no-repeat 50% 50%;
  background-size: cover;
}
#main .sec-0105 {
  width: 100%;
  height: 100%;
  background: url() no-repeat 50% 50% fixed;
  background-size: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#main .sec-0105 .container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#main .sec-0105 .container .title {
  position: relative;
  top: 250px;
  left: 0;
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
  font-size: 50px;
  font-weight: 600;
  font-family: "Homoarakhn", sans-serif;
}
#main .sec-0105 .container .bottom-title {
  text-align: center;
  display: block;
  width: 100%;
  position: absolute;
  bottom: 60px;
}
#main .sec-0105 .container .bottom-title em {
  font-size: 30px;
  color: #ccc;
  display: block;
  padding: 0 0 10px 0;
  font-weight: 800;
}
#main .sec-0105 .container .bottom-title i {
  display: inline-block;
  width: 250px;
  height: 3px;
  background: rgb(0, 235, 255);
}
#main #section6 {
  width: 100%;
  padding-bottom: 40px;
}
#main #section6 .slide-container {
  width: 100%;
  position: relative;
}
#main #section6 .slide-container .slide-view {
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
#main #section6 .slide-container .slide-view .slide-wrap {
  width: 1300%;
  margin-left: -100%;
  display: flex;
  position: relative;
  left: 0%;
}
#main #section6 .slide-container .slide-view .slide-wrap .sl {
  width: 100%;
}
#main #section6 .slide-container .slide-view .slide-wrap .sl img {
  width: 100%;
  height: 538px;
}
#main #section6 .slide-container .button {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
  transition: all 0.7s ease-in-out;
  opacity: 0;
}
#main #section6 .slide-container .button:hover {
  opacity: 1;
}
#main #section6 .slide-container .button .prev-btn {
  width: 52px;
  height: 52px;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 5%;
  margin-top: -26px;
  transform: rotate(180deg);
}
#main #section6 .slide-container .button .prev-btn img {
  width: 100%;
}
#main #section6 .slide-container .button .next-btn {
  width: 52px;
  height: 52px;
  position: absolute;
  z-index: 2;
  top: 50%;
  right: 5%;
  margin-top: -26px;
}
#main #section6 .slide-container .button .next-btn img {
  width: 100%;
}
#main #section6 .slide-container .page-number {
  position: absolute;
  z-index: 2;
  bottom: 20px;
  right: 10%;
  color: #fff;
  font-size: 14px;
  background: rgba(0, 0, 0, 0.7);
  padding: 5px 12px 7px 12px;
  border-radius: 13px;
}
#main #section6 .slide-container .page-number em {
  width: auto;
}
#main #section6 .slide-container .page-number em i {
  width: auto;
}
#main .sec-1013 {
  width: 100%;
  height: 300px;
  position: relative;
}
#main .sec-1013::before {
  content: "";
  width: 100%;
  height: 100%;
  background: url() no-repeat 50% 40%;
  background-size: cover;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  filter: brightness(0.5);
  transition: all 0.3s;
}
#main .sec-1013:hover:before {
  background-position: 50% 20%;
}
#main .sec-1013::after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(60, 60, 60, 0.5);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  transition: all 0.3s;
}
#main .sec-1013:hover::after {
  background-color: rgba(60, 60, 60, 0.2);
}
#main .sec-1013 .container {
  position: relative;
  z-index: 3;
  width: 1170px;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
#main .sec-1013 .container .title {
  width: 50%;
  display: flex;
  align-items: center;
}
#main .sec-1013 .container .title h2 {
  font-size: 80px;
  color: #f00;
  font-weight: 600;
}
#main .sec-1013 .container .title div {
  margin: 0 0 0 50px;
}
#main .sec-1013 .container .title div h3 {
  font-size: 15px;
  color: #ddd;
  font-weight: 700;
  padding: 0 0 5px 0;
}
#main .sec-1013 .container .title div i {
  display: block;
  width: 100%;
  height: 2px;
  background: #ddd;
  opacity: 0.5;
  transition: all 0.3s;
}
#main .sec-1013 .container .content {
  width: 50%;
}
#main .sec-1013 .container .content p {
  line-height: 200%;
  padding: 0 0 20px 0;
  font-family: "Homoarakhn", sans-serif;
  transform: rotate(0.04deg);
}
#main .sec-1013 .container .content p a {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}
#main .sec-1013 .container .content p a:hover {
  background: linear-gradient(to left, #f00 40%, #00f 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#main .sec-1013 .container .content strong {
  font-size: 12px;
  color: #fff;
  font-weight: 600;
  opacity: 0.4;
}
#main .sec-1013:hover .container .title div i {
  display: block;
  width: 130px;
  height: 2px;
  background: #ddd;
  opacity: 0.5;
}
#main #section7::before {
  background-image: url(../img/sec11/sam-spiderman-blog-logo.jpg);
}
#main #section8::before {
  background-image: url(../img/sec11/amazing-spiderman-blog-logo.jpg);
}
#main #section9::before {
  background-image: url(../img/sec11/tom-spiderman-blog-logo2.jpg);
}
#main #section10::before {
  background-image: url(../img/sec11/miles-logo.jpg);
}
#main #section11::before {
  background-image: url(../img/sec11/venom-logo.jpg);
}
#main #section1 {
  background-image: url(../img/sec1~sec4/sam-spiderman3.PNG);
}
#main #section2 {
  background-image: url(../img/sec1~sec4/amazing-spiderman-main.jpg);
  background-position: 50% 15%;
}
#main #section3 {
  background-image: url(../img/sec1~sec4/tom-spicerman-photo.jpg);
}
#main #section4 {
  background-image: url(../img/sec1~sec4/miles.jpg);
}
#main #section5 {
  background-image: url(../img/sec1~sec4/peakpx.jpg);
}