#main {
  width: 100%;
  background: #18212b;
}
#main #section1 {
  width: 100%;
  display: flex;
}
#main #section1 .swiper-container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
#main #section1 .swiper-container .swiper {
  width: 1200px;
}
#main #section1 .swiper-container .swiper .swiper-wrapper {
  padding-top: 64px;
}
#main #section1 .swiper-container .swiper .swiper-wrapper .swiper-slide {
  width: 400px;
  position: relative;
}
#main #section1 .swiper-container .swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 700px;
}
#main #section1 .swiper-container .swiper .swiper-wrapper .swiper-slide .movie-btn {
  position: absolute;
  bottom: 30px;
  right: 50px;
  border: 0;
  background: none;
  cursor: pointer;
}
#main #section1 .swiper-container .swiper .swiper-wrapper .swiper-slide .movie-btn span {
  display: block;
  width: 250px;
  font-size: 20px;
  font-family: "Homoarakhn", "sans-serif";
}
#main #section1 .swiper-container button {
  border: 0;
  background: none;
}
#main #section1 .swiper-container button img {
  width: 50px;
  height: 50px;
}
#main #section1 .swiper-container button.swiper-prev-btn {
  position: absolute;
  top: 50%;
  left: 0;
}
#main #section1 .swiper-container button.swiper-next-btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: rotate(180deg);
}
#main #section1 .swiper-container .swiper-pagination {
  background-color: transparent;
}
#main #section1 .swiper-container .swiper-pagination span {
  background-color: #999;
}