@import url(../../../../css/fonts.css);
@import url(../../../../css/reset.css);
@import url(../../../../css/modal.css);
@import url(../../../../css/header.css);
@import url(../../../../css/footer.css);
@import url(../../../../css/quick_menu.css);
@import url(../../../../css/go_top.css);
#main.main2 {
  width: 100%;
  background: #333;
}
#main.main2 #section1 {
  width: 100%;
  margin: 0 0 50px 0;
  position: relative;
}
#main.main2 #section1 .container {
  width: 100%;
  margin: 0 auto;
}
#main.main2 #section1 .container .gap {
  width: auto;
}
#main.main2 #section1 .container .gap .title h2 {
  width: auto;
}
#main.main2 #section1 .container .gap .content {
  width: 100%;
}
#main.main2 #section1 .container .gap .content a {
  display: block;
}
#main.main2 #section1 .container .gap .content a img {
  width: 100%;
}
#main.main2 #section2 {
  width: 100%;
  padding: 0 0 50px 0;
  background: none;
}
#main.main2 #section2 .container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
#main.main2 #section2 .container .title {
  width: 100%;
  padding: 0 7px 50px 7px;
  text-align: center;
  font-family: "Homoarakhn", sans-serif;
}
#main.main2 #section2 .container .title h2 {
  font-size: 28px;
  color: #fff;
  font-weight: 500;
}
#main.main2 #section2 .container .content {
  width: 100%;
  display: flex;
}
#main.main2 #section2 .container .content .left {
  position: sticky;
  top: 70px;
  left: 0;
  width: 260px;
  height: 100vh;
  margin: 0 30px 0 0;
}
#main.main2 #section2 .container .content .left .title-filter {
  margin: 0 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 40px;
}
#main.main2 #section2 .container .content .left .title-filter span {
  font-size: 15px;
  color: #fff;
}
#main.main2 #section2 .container .content .left .title-filter button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: 0;
  color: #fff;
}
#main.main2 #section2 .container .content .left .title-filter button svg {
  margin-right: 5px;
}
#main.main2 #section2 .container .content .left .col-gap {
  margin: 0 7px;
  height: 100%;
}
#main.main2 #section2 .container .content .left .col-gap .wrap {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
#main.main2 #section2 .container .content .left .col-gap .wrap::-webkit-scrollbar {
  width: 0px;
}
#main.main2 #section2 .container .content .left .col-gap .wrap > ul.category {
  width: 100%;
}
#main.main2 #section2 .container .content .left .col-gap .wrap > ul.category > li {
  width: 100%;
  border-bottom: 1px solid #eee;
}
#main.main2 #section2 .container .content .left .col-gap .wrap > ul.category > li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 52px;
  color: #fff;
}
#main.main2 #section2 .container .content .left .col-gap .wrap > ul.category > li a svg {
  width: 18px;
  height: 18px;
  transform: rotate(180deg);
  transition: all 0.3s;
}
#main.main2 #section2 .container .content .left .col-gap .wrap > ul.category > li a.on svg {
  transform: rotate(0deg);
}
#main.main2 #section2 .container .content .left .col-gap .wrap > ul.category > li div.category-sub {
  width: 100%;
}
#main.main2 #section2 .container .content .left .col-gap .wrap > ul.category > li div.category-sub ul {
  width: 100%;
}
#main.main2 #section2 .container .content .left .col-gap .wrap > ul.category > li div.category-sub ul li {
  position: relative;
  width: 100%;
  padding: 7px 0;
}
#main.main2 #section2 .container .content .left .col-gap .wrap > ul.category > li div.category-sub ul li #search {
  width: 100%;
  height: 36px;
  background: #fff;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 0 15px;
  outline: 0;
}
#main.main2 #section2 .container .content .left .col-gap .wrap > ul.category > li div.category-sub ul li a {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  top: 8px;
  left: 180px;
}
#main.main2 #section2 .container .content .left .col-gap .wrap > ul.category > li div.category-sub ul li a img {
  width: 25px;
  height: 25px;
  stroke: #f00;
}
#main.main2 #section2 .container .content .left .col-gap .wrap > ul.category > li div.category-sub ul li label {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 14px;
  color: #fff;
  transition: all 0.3s;
}
#main.main2 #section2 .container .content .left .col-gap .wrap > ul.category > li div.category-sub ul li label.movie {
  text-transform: uppercase;
  font-family: "Homoarakhn", sans-serif;
  font-size: 13px;
}
#main.main2 #section2 .container .content .left .col-gap .wrap > ul.category > li div.category-sub ul li label:hover {
  color: #fc4848;
}
#main.main2 #section2 .container .content .left .col-gap .wrap > ul.category > li div.category-sub ul li label input {
  display: none;
}
#main.main2 #section2 .container .content .left .col-gap .wrap > ul.category > li div.category-sub ul li label input:checked ~ svg {
  fill: #f00;
}
#main.main2 #section2 .container .content .left .col-gap .wrap > ul.category > li div.category-sub ul li label svg {
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin: -2px 7px 0 0;
  fill: none;
}
#main.main2 #section2 .container .content .left .col-gap .wrap > ul.category > li div.category-sub ul li label svg path {
  stroke: #ddd;
}
#main.main2 #section2 .container .content .left .col-gap .wrap > ul.category > li div.category-sub ul li label span {
  margin-left: 7px;
  font-size: 12px;
  color: rgb(204, 204, 204);
}
#main.main2 #section2 .container .content .right {
  width: 1040px;
}
#main.main2 #section2 .container .content .right .order-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  height: 40px;
  margin: 0 7px;
}
#main.main2 #section2 .container .content .right .order-filter span a {
  font-size: 15px;
  color: #999;
}
#main.main2 #section2 .container .content .right .order-filter span a img {
  position: relative;
  top: -2px;
  margin-left: 5px;
  width: 25px;
  height: 25px;
}
#main.main2 #section2 .container .content .right .order-filter span i {
  position: relative;
  bottom: 3px;
  margin: 0 4px;
  font-size: 2px;
  color: rgb(226, 226, 226);
}
#main.main2 #section2 .container .content .right > ul {
  display: flex;
  flex-flow: row wrap;
  width: 1050px;
}
#main.main2 #section2 .container .content .right > ul > li {
  width: 260px;
}
#main.main2 #section2 .container .content .right > ul > li .col-gap {
  margin: 0 7px;
}
#main.main2 #section2 .container .content .right > ul > li .col-gap .wrap {
  width: 100%;
}
#main.main2 #section2 .container .content .right > ul > li .col-gap .wrap .img-box {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}
#main.main2 #section2 .container .content .right > ul > li .col-gap .wrap .img-box:hover {
  transform: scale(1.06);
}
#main.main2 #section2 .container .content .right > ul > li .col-gap .wrap .img-box img {
  width: 100%;
  height: 100%;
  z-index: 20;
}
#main.main2 #section2 .container .content .right > ul > li .col-gap .wrap .img-box .option {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 246px;
  height: 300px;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  z-index: 10;
}
#main.main2 #section2 .container .content .right > ul > li .col-gap .wrap .img-box .option:hover {
  opacity: 1;
}
#main.main2 #section2 .container .content .right > ul > li .col-gap .wrap .img-box .option a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96px;
  height: 30px;
  color: #fff;
}
#main.main2 #section2 .container .content .right > ul > li .col-gap .wrap .img-box .option a img {
  margin-right: 5px;
  width: 20px;
  height: 20px;
}
#main.main2 #section2 .container .content .right > ul > li .col-gap .wrap .img-box .option button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96px;
  height: 30px;
  color: #fff;
  background: none;
  border: 0;
  cursor: pointer;
}
#main.main2 #section2 .container .content .right > ul > li .col-gap .wrap .img-box .option button img {
  margin-right: 5px;
  width: 20px;
  height: 20px;
}
#main.main2 #section2 .container .content .right > ul > li .col-gap .wrap .img-box .option button.active img {
  animation: animateHeart 0.3s linear forwards;
}
@keyframes animateHeart {
  0% {
    transform: scale(0.2);
  }
  40% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
#main.main2 #section2 .container .content .right > ul > li .col-gap .wrap .caption {
  padding: 15px 0 30px 0;
}
#main.main2 #section2 .container .content .right > ul > li .col-gap .wrap .caption h5 {
  height: 55px;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #fff;
}
#main.main2 #section2 .container .content .right > ul > li .col-gap .wrap .caption h5 span {
  display: block;
  line-height: 150%;
}
#main.main2 #section2 .container .content .right > ul > li .col-gap .wrap .caption h3 {
  font-size: 16px;
  line-height: 140%;
  font-weight: 600;
  padding: 10px 0;
}
#main.main2 #section2 .container .content .right > ul > li .col-gap .wrap .caption h3 strong {
  font-size: 17px;
  color: #fa622f;
  margin: 0 10px 0 0;
}
#main.main2 #section2 .container .content .right > ul > li .col-gap .wrap .caption h3 em {
  color: #fff;
  font-weight: 500;
  font-size: 20px;
}
#main.main2 #section2 .container .content .right > ul > li .col-gap .wrap .caption h3 s {
  color: #999;
}
#main.main2 #section2 .container .content .right > ul > li .col-gap .wrap .caption h4 {
  padding: 10px 0 15px 0;
  line-height: 24px;
  font-size: 15px;
  text-shadow: 1px 1px 1px #222;
  font-family: "Homoarakhn", sans-serif;
}
#main.main2 #section2 .container .content .right > ul > li .col-gap .wrap .caption h4 strong {
  display: block;
  border-radius: 3px;
  color: #f00;
}
#main.main2 #section2 .container .content .right > ul > li .col-gap .wrap .caption h4 strong:nth-child(2) {
  color: rgb(0, 204, 255);
}
#main.main2 #section2 .container .content .right > ul > li .col-gap .wrap .caption h6 {
  font-size: 12px;
  color: rgb(255, 0, 0);
  font-weight: 500;
  background: rgb(244, 244, 244);
  padding: 5px 5px 7px 5px;
  width: 92px;
  height: 24px;
  border-radius: 3px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#main.main2 #section2 .container .content .right .pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 36px;
}
#main.main2 #section2 .container .content .right .pagination a {
  width: 34px;
  height: 34px;
  display: flex;
  margin: 0 7px 0 0;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
#main.main2 #section2 .container .content .right .pagination a:nth-child(3) {
  border-bottom: 2px solid #fff;
  color: #fff;
}
#main.main2 #section2 .container .content .right .pagination a:hover {
  background: #fff;
  color: #000;
}