@charset "UTF-8";
#wrap {
  white-space: pre-wrap;
}
#wrap #signUpMain {
  background-color: #18212b;
  width: 100%;
  padding: 100px 0 0 0;
}
#wrap #signUpMain #signUp {
  width: 100%;
  padding: 40px 0 60px 0;
}
#wrap #signUpMain #signUp .container {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
}
#wrap #signUpMain #signUp .container .title {
  width: 100%;
  border-bottom: 2px solid rgba(255, 0, 0, 0.7019607843);
}
#wrap #signUpMain #signUp .container .title .main-title {
  text-align: center;
  padding: 0 0 40px 0;
}
#wrap #signUpMain #signUp .container .title .main-title h2 {
  font-size: 50px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  font-family: "Homoarakhn", sans-serif;
  letter-spacing: 5px;
}
#wrap #signUpMain #signUp .container .title .sub-title {
  text-align: right;
  padding: 0 0 10px 0;
}
#wrap #signUpMain #signUp .container .title .sub-title span {
  font-size: 12px;
  color: #ccc;
}
#wrap #signUpMain #signUp .container .title .sub-title span i {
  color: #ee6a7b;
}
#wrap #signUpMain #signUp .container .content {
  width: 100%;
}
#wrap #signUpMain #signUp .container .content form {
  width: 100%;
}
#wrap #signUpMain #signUp .container .content form > ul {
  width: 100%;
}
#wrap #signUpMain #signUp .container .content form > ul > li {
  width: 100%;
  padding: 10px 20px;
  display: flex;
}
#wrap #signUpMain #signUp .container .content form > ul > li.hp-ok-box {
  display: none;
}
#wrap #signUpMain #signUp .container .content form > ul > li.hp-ok-box.on {
  display: flex;
}
#wrap #signUpMain #signUp .container .content form > ul > li.add-input-box-list {
  display: none;
}
#wrap #signUpMain #signUp .container .content form > ul > li.add-input-box-list.on {
  display: flex;
}
#wrap #signUpMain #signUp .container .content form > ul > li.hor-line {
  padding: 20px 0;
}
#wrap #signUpMain #signUp .container .content form > ul > li.hor-line hr {
  width: 100%;
  height: 2px;
  border: 0;
  background: rgba(255, 0, 0, 0.7019607843);
}
#wrap #signUpMain #signUp .container .content form > ul > li .left {
  width: 139px;
}
#wrap #signUpMain #signUp .container .content form > ul > li .left .left-wrap {
  width: 100%;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#wrap #signUpMain #signUp .container .content form > ul > li .left .left-wrap label {
  font-size: 14px;
}
#wrap #signUpMain #signUp .container .content form > ul > li .left .left-wrap label strong {
  font-weight: 500;
  color: #ccc;
}
#wrap #signUpMain #signUp .container .content form > ul > li .left .left-wrap label i {
  color: #ee6a7b;
}
#wrap #signUpMain #signUp .container .content form > ul > li .right {
  width: 461px;
}
#wrap #signUpMain #signUp .container .content form > ul > li .right .right-wrap {
  position: relative;
  width: 100%;
  padding: 0 130px 0 0;
}
#wrap #signUpMain #signUp .container .content form > ul > li .right .right-wrap label {
  color: #fff;
}
#wrap #signUpMain #signUp .container .content form > ul > li .right .right-wrap.birth .birth-box {
  width: 100%;
  height: 46px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
#wrap #signUpMain #signUp .container .content form > ul > li .right .right-wrap.birth .birth-box ul {
  width: 100%;
  display: flex;
}
#wrap #signUpMain #signUp .container .content form > ul > li .right .right-wrap.birth .birth-box ul li:nth-child(odd) {
  width: 30%;
}
#wrap #signUpMain #signUp .container .content form > ul > li .right .right-wrap.birth .birth-box ul li:nth-child(even) {
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#wrap #signUpMain #signUp .container .content form > ul > li .right .right-wrap.birth .birth-box ul li:nth-child(even) i {
  color: #aaa;
}
#wrap #signUpMain #signUp .container .content form > ul > li .right .right-wrap.birth .birth-box ul li input {
  width: 100%;
  height: 44px;
  border: 0;
  outline: 0;
  background: #18212b;
  color: #fff;
  text-indent: 20px;
  font-size: 16px;
}
#wrap #signUpMain #signUp .container .content form > ul > li .right .right-wrap input[type=text],
#wrap #signUpMain #signUp .container .content form > ul > li .right .right-wrap [type=password] {
  width: 100%;
  height: 46px;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 3px;
  padding: 0 15px;
  outline-offset: -1px;
  outline: 1px solid transparent;
  transition: all 0.3s;
}
#wrap #signUpMain #signUp .container .content form > ul > li .right .right-wrap input[type=text]:focus,
#wrap #signUpMain #signUp .container .content form > ul > li .right .right-wrap [type=password]:focus {
  outline: 1px solid #444;
}
#wrap #signUpMain #signUp .container .content form > ul > li .right .right-wrap input[type=text]::-moz-placeholder, #wrap #signUpMain #signUp .container .content form > ul > li .right .right-wrap [type=password]::-moz-placeholder {
  color: #777;
  font-size: 16px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  line-height: 1; /* 필요에 따라 조절 */
}
#wrap #signUpMain #signUp .container .content form > ul > li .right .right-wrap input[type=text]::placeholder,
#wrap #signUpMain #signUp .container .content form > ul > li .right .right-wrap [type=password]::placeholder {
  color: #777;
  font-size: 16px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  line-height: 1; /* 필요에 따라 조절 */
}
#wrap #signUpMain #signUp .container .content form > ul > li .right .right-wrap input[type=text].addr-hide,
#wrap #signUpMain #signUp .container .content form > ul > li .right .right-wrap [type=password].addr-hide {
  display: none;
}
#wrap #signUpMain #signUp .container .content form > ul > li .right .right-wrap input[type=text].addr-hide.on,
#wrap #signUpMain #signUp .container .content form > ul > li .right .right-wrap [type=password].addr-hide.on {
  display: block;
}
#wrap #signUpMain #signUp .container .content form > ul > li .right .right-wrap button {
  position: absolute;
  right: 0;
  top: 0;
  width: 120px;
  height: 46px;
  border: 1px solid #333;
  background: rgba(255, 0, 0, 0.7019607843);
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}
#wrap #signUpMain #signUp .container .content form > ul > li .right .right-wrap button.hp-num-btn {
  color: #ddd;
  background-color: rgba(247, 177, 177, 0.7019607843);
  border-color: rgba(247, 177, 177, 0.7019607843);
  cursor: default;
}
#wrap #signUpMain #signUp .container .content form > ul > li .right .right-wrap button.hp-num-btn.on {
  cursor: pointer;
  color: #ddd;
  border-color: #ddd;
  background: rgba(255, 0, 0, 0.7019607843);
}
#wrap #signUpMain #signUp .container .content form > ul > li .right .right-wrap button.hp-num2-btn {
  display: none;
}
#wrap #signUpMain #signUp .container .content form > ul > li .right .right-wrap button.hp-num2-btn.on {
  display: block;
}
#wrap #signUpMain #signUp .container .content form > ul > li .right .right-wrap button.addr-hide {
  display: none;
}
#wrap #signUpMain #signUp .container .content form > ul > li .right .right-wrap button.addr-hide.on {
  display: block;
}
#wrap #signUpMain #signUp .container .content form > ul > li .right .right-wrap button.addr-api-btn {
  position: relative;
  width: 100%;
}
#wrap #signUpMain #signUp .container .content form > ul > li .right .right-wrap button.addr-api-btn img {
  margin: -3px 5px 0 0;
  width: 20px;
  height: 20px;
}
#wrap #signUpMain #signUp .container .content form > ul > li .right .right-wrap button.addr-api-btn.on {
  display: none;
}
#wrap #signUpMain #signUp .container .content form > ul > li .right .right-wrap button span {
  display: flex;
  justify-content: center;
}
#wrap #signUpMain #signUp .container .content form > ul > li .right .right-wrap button span img {
  width: 20px;
  height: 20px;
  margin-right: 3px;
}
#wrap #signUpMain #signUp .container .content form > ul > li .right .right-wrap .signup-time-count {
  position: absolute;
  right: 150px;
  top: 16px;
  font-size: 14px;
  color: #f03f40;
  z-index: 2;
}
#wrap #signUpMain #signUp .container .content form > ul > li .right .right-wrap .info-message {
  display: block;
  padding: 15px 0 0 0;
  font-size: 12px;
  line-height: 140%;
}
#wrap #signUpMain #signUp .container .content form > ul > li .right .right-wrap p {
  display: none;
  padding: 7px 0 0 0;
  font-size: 13px;
  color: #f03f40;
}
#wrap #signUpMain #signUp .container .content form > ul > li .right .right-wrap p.on {
  display: block;
}
#wrap #signUpMain #signUp .container .content form > ul > li .right .right-wrap em.addr-map-area {
  color: #f03f40;
  font-size: 12px;
}
#wrap #signUpMain #signUp .container .content form > ul > li .right .right-wrap p.addr-info {
  padding: 10px 0 0 0;
  color: #666;
  font-size: 12px;
}
#wrap #signUpMain #signUp .container .content form > ul > li .right .right-wrap p.addr-info.addr-info1 {
  display: block;
}
#wrap #signUpMain #signUp .container .content form > ul > li .right .right-wrap p.addr-info.addr-info1.on {
  display: none;
}
#wrap #signUpMain #signUp .container .content form > ul > li .right .right-wrap.service {
  padding: 0;
}
#wrap #signUpMain #signUp .container .content form > ul > li .right .right-wrap.service ul li {
  width: 100%;
  margin: 15px 0;
}
#wrap #signUpMain #signUp .container .content form > ul > li .right .right-wrap.service ul li:nth-child(2), #wrap #signUpMain #signUp .container .content form > ul > li .right .right-wrap.service ul li:nth-child(3), #wrap #signUpMain #signUp .container .content form > ul > li .right .right-wrap.service ul li:nth-child(4) {
  position: relative;
}
#wrap #signUpMain #signUp .container .content form > ul > li .right .right-wrap.service ul li.smsEmail {
  padding-left: 24px;
}
#wrap #signUpMain #signUp .container .content form > ul > li .right .right-wrap.service ul li label.chk6 {
  margin-left: 12px;
}
#wrap #signUpMain #signUp .container .content form > ul > li .right .right-wrap.service ul li label input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin: 0 12px 0 0;
  width: 24px;
  height: 24px;
  background: url(../img/sign_up/chkbox_gray.svg) no-repeat 50% 50%;
  background-size: 24px 24px;
  border-radius: 50%;
}
#wrap #signUpMain #signUp .container .content form > ul > li .right .right-wrap.service ul li label input[type=checkbox]:checked {
  background: url(../img/sign_up/chkbox_purple.png) no-repeat 50% 50%;
  background-size: 24px 24px;
}
#wrap #signUpMain #signUp .container .content form > ul > li .right .right-wrap.service ul li:nth-child(1) label {
  font-size: 18px;
  font-weight: 500;
}
#wrap #signUpMain #signUp .container .content form > ul > li .right .right-wrap.service ul li p {
  padding: 0 0 0 36px;
  font-size: 12px;
  color: #666;
}
#wrap #signUpMain #signUp .container .content form > ul > li .right .right-wrap.service ul li button {
  position: absolute;
  top: 3px;
  right: 0;
  width: auto;
  height: auto;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
#wrap #signUpMain #signUp .container .content form > ul > li .right .right-wrap.service ul li button span.viewTerms {
  display: inline;
  font-size: 14px;
  color: #f00;
}
#wrap #signUpMain #signUp .container .content form > ul > li .right .right-wrap.service ul li button img {
  margin: -3px 0 0 3px;
  width: 15px;
}
#wrap #signUpMain #signUp .container .content form > ul > li.addr-hide {
  display: none;
}
#wrap #signUpMain #signUp .container .content form > ul > li.addr-hide.on {
  display: flex;
}
#wrap #signUpMain #signUp .container .content form .button-box {
  text-align: center;
  padding: 40px 0;
  border-top: 2px solid rgba(255, 0, 0, 0.7019607843);
}
#wrap #signUpMain #signUp .container .content form .button-box button {
  width: 240px;
  height: 56px;
  background: rgba(255, 0, 0, 0.7019607843);
  color: #fff;
  border: 1px solid rgba(255, 0, 0, 0.7019607843);
  border-radius: 3px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
#wrap #confirmModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 5;
}
#wrap #confirmModal .wrap {
  width: 100%;
  height: 100%;
  display: flex;
}
#wrap #confirmModal .wrap .container {
  position: relative;
  width: 400px;
  height: 185px;
  margin: auto;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}
#wrap #confirmModal .wrap .container .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: url(../img/sign_up/spider.PNG) no-repeat 50% 50%;
  background-size: cover;
  opacity: 0.5;
}
#wrap #confirmModal .wrap .container .content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 30px;
  position: relative;
  z-index: 2;
  height: 130px;
}
#wrap #confirmModal .wrap .container .content h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 25px;
  font-size: 16px;
  padding: 5px;
  font-weight: bold;
  color: #333;
  line-height: 150%;
  letter-spacing: -0.5px;
  text-align: center;
}
#wrap #confirmModal .wrap .container .button-box {
  border-top: 1px solid #000;
  width: 100%;
  height: 55px;
}
#wrap #confirmModal .wrap .container .button-box button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: none;
  border: 0;
  cursor: pointer;
}
#wrap #confirmModal .wrap .container .button-box button span.confirm-modal-btn-span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  color: #333;
  background-color: rgba(255, 255, 255, 0.7);
}
#wrap #AgreeToTermsOfUse {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
#wrap #AgreeToTermsOfUse .wrap {
  width: 100%;
  height: 100%;
  display: flex;
}
#wrap #AgreeToTermsOfUse .wrap .container {
  margin: auto;
  width: 440px;
  background: #fff;
  border-radius: 12px;
}
#wrap #AgreeToTermsOfUse .wrap .container h1 {
  padding: 30px 30px 24px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.5px;
  color: #333;
}
#wrap #AgreeToTermsOfUse .wrap .container .content {
  padding: 0 30px;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.5px;
  color: #666;
  overflow-y: auto;
  height: 460px;
}
#wrap #AgreeToTermsOfUse .wrap .container .content::-webkit-scrollbar-thumb {
  width: 30px;
}
#wrap #AgreeToTermsOfUse .wrap .container .content .main-title {
  display: block;
  padding: 16px 0 8px 0;
  font-size: 16px;
  line-height: 21px;
  color: #333;
  font-weight: 500;
}
#wrap #AgreeToTermsOfUse .wrap .container .button-box {
  width: 100%;
  height: 56px;
  border-top: 1px solid #eee;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#wrap #AgreeToTermsOfUse .wrap .container .button-box button {
  position: relative;
  width: 100%;
  height: 56px;
  text-align: center;
  background: #fff;
  color: #5f0080;
  font-weight: 700;
  font-size: 16px;
  border: 0;
  border-radius: 12px;
  cursor: pointer;
}