@import url(../../../../css/fonts.css);
@import url(../../../../css/reset.css);
@import url(../../../../css/modal.css);
@import url(../../../../css/header.css);
@import url(../../../../css/footer.css);
@import url(../../../../css/quick_menu.css);
@import url(../../../../css/go_top.css);
#wrap {
  width: 100%;
  background-color: #18212b;
}
#wrap #signInMain {
  width: 100%;
  z-index: 2;
  position: relative;
  padding: 140px 0 0 0;
}
#wrap #signInMain #signIn {
  width: 100%;
  padding-bottom: 103px;
}
#wrap #signInMain #signIn .container {
  width: 350px;
  margin: 0 auto;
}
#wrap #signInMain #signIn .container .title {
  width: 100%;
  text-align: center;
}
#wrap #signInMain #signIn .container .title h2 {
  color: #fff;
  font-weight: bold;
  font-size: 50px;
  font-family: "Homoarakhn", sans-serif;
  letter-spacing: 15px;
}
#wrap #signInMain #signIn .container .content {
  width: 100%;
}
#wrap #signInMain #signIn .container .content form {
  width: 100%;
  padding-top: 50px;
}
#wrap #signInMain #signIn .container .content form ul {
  width: 100%;
}
#wrap #signInMain #signIn .container .content form ul li {
  width: 100%;
  padding-bottom: 10px;
}
#wrap #signInMain #signIn .container .content form ul li:nth-child(3) {
  height: 54px;
  text-align: right;
  font-size: 12px;
  padding-top: 5px;
}
#wrap #signInMain #signIn .container .content form ul li input {
  width: 100%;
  height: 54px;
  border: 1px solid #ddd;
  padding: 0 15px;
}
#wrap #signInMain #signIn .container .content form ul li a {
  color: #fff;
}
#wrap #signInMain #signIn .container .content form ul li i {
  color: #ccc;
  margin: 0 5px;
}
#wrap #signInMain #signIn .container .content form ul li button {
  width: 100%;
  height: 54px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
}
#wrap #signInMain #signIn .container .content form ul li button[type=submit] {
  background: #f00;
  color: #fff;
}
#wrap #signInMain #signIn .container .content form ul li button[type=button] {
  background: #fff;
  color: #000;
}
#wrap #signInMain #signIn .container .content form ul li button a {
  color: #000;
}